body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Cambria";
    font-size: 1.2em;
}

body {
    background: url(img/adm_back.png) repeat;
}

header {
    display: block;
    width: 100%;
    background: rgb(134, 134, 236);
}

header h1 {
    margin-left: 20px;
    color: white;
    margin-top: 0;
}

aside {
    background: rgb(134, 134, 236);
    overflow: hidden;
    width: 15%;
    padding-bottom: 7px;
    float: left;
}

.workfield {
    background: rgba(134, 134, 236, 0.603);
    overflow: hidden;
    display: block;
    margin-left: 3%;
    width: 82%;
    float: right;
}

.row {
    margin-left: 0.2%;
}

.id {
    width: 5%;
    cursor: pointer;
}

.r_menu {
    width: 100px;
    height: 24px;
    background: gray;
    position: absolute;
    display: none;
}

#r1 {
    width: 5.3%;
}

#r2 {
    width: 30.5%;
}

#r3 {
    width: 28.3%;
}

#r4 {
    width: 15.5%;
}

#r5 {
    width: 6.4%;
}

#r6 {
    width: 4%;
}

.caption {
    width: 15%;
    cursor: pointer;
}

.path {
    width: 10%;
    cursor: pointer;
}

.redact {
    display: inline;
    opacity: 0;
}

.content {
    width: 30%;
    cursor: pointer;
    word-break: break-word;
    height: 15px;
    min-height: 15px;
    max-height: 100px;
    min-width: 100px;
    max-width: 400px;
    position: relative;
    top: 6px;
}

.date {
    width: 5%;
    cursor: pointer;
}

.poster_name {
    width: 5%;
    cursor: pointer;
}

.table_head {
    margin-left: 15%;
    padding-bottom: 7px;
}

.row img {
    margin-left: 7px;
}

.table_head span {
    display: inline-block;
    width: 20.38%;
    text-align: center;
    background: rgba(134, 134, 236, 0.788);
    /*background: rgba(169, 169, 235, 0.918);*/
}
aside a {
    display: block;
    margin-top: 8px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
}

aside a:hover {
    color: gray;
}

.workfield .miniature img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.workfield .miniature {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin-left: 1%;
}

aside div {
    width: 100%;
    background: rgb(89, 89, 216);
    height: 30px;
}
aside span {
    width: 100%;
    display: block;
    text-align: center;
    color: white;
}

.change_image {
    width: 10%;
}

.login_form {
    background: rgb(134, 134, 236);
    overflow: hidden;
    width: 300px;
    position: relative;
    margin: 0 auto;
    top: 20%;
    text-align: center;
    border-radius: 7px;
    padding-top: 5px;
    color: white;
}

.login_form div {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.login_form p {
    font-size: 1.2em;
}

.login_form #inp {
    display: inline-block;
    width: 260px;
    height: 24px;
}

.pages {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0;
    background: transparent;
    border-color: rgba(151, 150, 150, 0.267);
    margin-bottom: 10px;
}

.pages div {
    width: 100%;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.pages div a {
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 18px;
    font-size: 0.7em;
    margin-top: 3px;
    background: rgba(91, 154, 216, 0.884);
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-align: center;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.452);
    border-width: 1px;
}

.pages div #focused {
    background: rgba(85, 161, 241, 0.945);
    border-style: solid;
    border-color: white;
    border-width: 1px;
    
}