article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, footer { 
    display: block;
}

html, body  {
    position: relative;
    height: 100%;
    max-height: 1500%; 
}

body {
    background: url(img/back.jpg) repeat;
}

.logo, .container, nav, footer, .pages{
    position: relative;
    left: 5%;
    right: 5%;
    width: 90%;
}

.container {
    min-height: 100%;
    background: rgba(85, 80, 80, 0.8);
    height: auto;
    overflow: hidden;
    padding-bottom: 13px;
}

.picture_grid {
    width: 100%;
    height: auto;
    padding-left: 15px;
}

* {
    margin: 0;
    padding: 0;
}

.chat {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    text-align: left;
    background: rgba(85, 80, 80, 0.527);
    border-radius: 15px;
}

.r4 {
    height: 25px;
    border-radius: 3px;
}

#chat_area {
    width: 100%;
}

#chat_area span {
    color: white;
    font-size: 25px;
    width: 100%;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat div {
    position: absolute;
}

.chat span {
    display: block;
}

input[type=text],textarea {
    width: 100%;
    font: normal normal normal 16px "Trebuchet MS", Arial, Times;
    border: solid #818181 1px;
}

.picture_box {
    width: auto;
    height: auto;
    display: inline-block;
    background: rgba(41, 39, 39, 0.24);
    border-radius: 15px;
    margin-right: 4%;
    padding: 10px;
    margin: 10px;
    padding: 5px;
    position: relative;
    
}

.picture_box div {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 5px;
}

.news_picture {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 15px;
    padding: 10px;
}

.news_picture img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.picture_box a {
    color: white;
    display: block;
    font-size: 20px;
    position: relative;
    text-align: center;
    width: 38%;
    left: 31%;
    right: 31%;
    text-decoration: none;
    margin: 5px;
    background: rgba(41, 39, 39, 0.452);
    border-radius: 5px;
}

.picture_box a:hover {
    background: rgba(41, 39, 39, 0.144);
}

.picture_box h1 {
    color: white;
    margin: 0;
    padding-bottom: 7px;
    font-size: 25px;
    text-align: center;
}

section {
    background: transparent;
    width: 80%;
    height: inherit;
    margin: 0;
    padding: 0;
}

section article {
    display: block;
    margin-top: 13px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
    padding-bottom: 5px;
    width: 96%;
    background: rgba(41, 39, 39, 0.24);
    word-wrap: break-word;
}

section article a {
    color: white;
    text-decoration: none;
    position: relative;
    margin-left: 15px;
    width: 130px;
    height: auto;
    display: block;
    margin-top: 12px;
    background: rgba(104, 101, 101, 0.712);
    text-align: center;
}

section article a:hover {
    color: rgba(0, 0, 0, 0.548);
}

section article span {
    margin-top: 10px;
    color: white;
    font-size: 18px;
    display: block;
    float: right;
}

section article .article_header {
    display: block;
    width: 96%;
    height: 31px;
    margin-left: 2%;
    margin-right: 2%;
}

section article h1 {
    color: white;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    height: 21px;
    text-align: left;
    float: left;
}

.picture_box div img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

section article .news_picture {
    display: block;
    margin: 0 auto;
}

section article p {
    color: white;
    display: block;
    text-align: justify;
    height: 100%;
    font-size: 18px;
    margin: 15px;
}

aside {
    position: relative;
    display: block;
    width: 20%;
    background: rgba(0, 0, 0, 0.11);
    float: right;
    height: 100%;
}

.pages {
    display: block;
    width: 68%;
    overflow: hidden;
    margin: 0;
    background: transparent;
    border-color: rgba(151, 150, 150, 0.267);
}

.pages div {
    width: 100%;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.pages div a {
    display: inline-block;
    margin-left: 15px;
    width: 20px;
    height: 18px;
    margin-top: 3px;
    background: rgba(81, 118, 155, 0.637);
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-align: center;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.452);
    border-width: 1px;
}

.pages div #focused {
    background: rgba(52, 99, 150, 0.945);
    border-style: solid;
    border-color: white;
    border-width: 1px;
    
}

aside p {
    display: list-item;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-left: 30px;
}

aside span {
    display: block;
    margin: 5px;
    margin-left: 10px;
}

aside span a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: left;
}

aside span #focused {
    color: rgb(107, 106, 106);
}


aside span a:hover {
    color: rgb(107, 106, 106);
    cursor: pointer;
}

aside header {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: Cambria;
    background: rgba(75, 147, 224, 0.945);
}

.logo {
    height: 80px;
    margin-top: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: Cambria;
    background: rgba(52, 99, 150, 0.76);
}



.logo h1{
    font-size: 350%;
    padding-top: 10px;
    margin-left: 30px;
    text-align: left;
    color: white;
}

.navigation {
    width: 100%;
    overflow: hidden;
    height: auto;
    background: rgba(81, 118, 155, 0.952);
}

.navigation #focused {
    background: rgba(50, 72, 95, 0.952);
}

.navigation a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 180%;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 0;
    height: 36px;
    text-align: center;
    font-family: Cambria;
}

.navigation a:hover {
    background: rgba(50, 72, 95, 0.952);
    cursor: pointer;
}

footer {
    display: block;
    background: rgba(81, 118, 155, 0.952);
    height: 40px;
}

footer span {
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    top: 30%;
    left: 40%;
    right: 40%;
    text-align: center;
}

.post_add {
    display: block;
    margin-top: 13px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 13px;
    width: 96%;
    background: rgba(41, 39, 39, 0.24);
}

.post_add p {
    display: inline-block;
    color: white;
    width: 80px;
    margin-top: 15px;
    margin-left: 1.5%;
}

.post_add h1 {
    display: block;
    font-size: 1.5em;
    color:white;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    width: 100%;
}


#inp {
    display: inline-block;
    position: relative;
    width: 87.5%;
    left: 1%;
    right: 1%;
}

#mult {
    display: inline-block;
    position: relative;
    margin-top: 15px;
    width: 87.5%;
    height: 80px;
    left: 1%;
    right: 1%;
}

#button_browse {
    margin-left: 20px;
}

#button_submit {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    width: 78px;
}
